.DS_Store
.gradle/
remote-server/node_modules/
remote-server/.env
remote-server/data/
**/build/
local.properties
*.iml
.idea/
*.jks
*.keystore
dist/*.apk
dist/*.tar.gz
dist/*/*.apk
dist/*/*.idsig
captures/
externalNativeBuild/
.cxx/
